header {
    background: var(--main-color);
    height: 100px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

header > .container > nav > a {
    align-items: center;
    display: flex;
    float: left;
    height: 100px;
    justify-content: center;
    overflow: hidden;
    width: 170px;
}

header > .container > nav > a > img {
    height: auto;
    max-width: 150px;
    width: 100%;
}

header > .container > nav > ul {
    align-items: center;
    display: flex;
    float: right;
    height: 100px;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

header > .container > nav > ul > li {
    margin: 0 10px;
    text-align: center;
    width: 100px;
}

header > .container > nav > ul > li > a {
    border: solid 3px transparent;
    display: block;
    color: #ffffff;
    padding: 10px 0;
}

header > .container > nav > ul > li > a:hover {
    border-bottom: solid 3px #ffffff;
}

#content {
    position: relative;
    margin-top: 100px;
    z-index: 9;
}

#inicio {
    background-color: var(--main-color);
    height: 420px;
    margin-bottom: 120px;
    position: relative;
}

#inicio::after,
#inicio::before {
    background: #ffffff;
    bottom: -80px;
    content: '';
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-3deg);
    z-index: 1;
}

#inicio .container {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
}

#inicio .container .inicio-form {
    justify-self: center;
    max-width: 430px;
    width: 100%;
    z-index: 2;
}

#inicio .container .inicio-form .card-header {
    background-color: #ffffff;
    text-align: center;
}

#inicio .container .inicio-form textarea {
    height: 100px;
    resize: none;
}

#inicio .container .inicio-text {
    color: #ffffff;
    justify-self: center;
}

#inicio .container .inicio-text h1 {
    line-height: 1.2;
    margin: 30px 0 20px 0;
    text-align: center;
}

#inicio .container .inicio-text p {
    line-height: 1.5;
    margin: 0 auto 20px;
    text-align: justify;
}


#nav-toggle {
    position: absolute;
    top: -100px;
}

.icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.line {
    background: #ffffff;
    border-radius: 3px;
    height: 5px;
    margin: 5px;
    transition: all .3s ease-in-out;
    width: 30px;
}

.servicios__grid_a {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
}

.servicios__grid_b {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.servicios__grid_a .card .card-body {
    text-align: center;
}

.servicios__img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: auto;
    justify-self: right;
    overflow: hidden;
    max-width: 550px;
    width: 100%;
}

.servicios__grid_a .card .card-body img {
    margin: auto;
    max-width: 200px;
    width: 100%;
}

.servicios__text {
    border: solid 1px #f5f5f5;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 369px;
    padding: 40px;
}

.servicios__text h3 {
    text-align: center;
    margin-bottom: 20px;
}

.servicios__text p {
    line-height: 1.7;
    text-align: justify;
}

/*
    ===============================================================================================
    ESTILOS SOBRE MEDIA QUERIES
    ===============================================================================================
*/
@media screen and (max-width: 767px) {
    header > .container > nav :checked ~ ul {
        bottom: 0;
    }

    header > .container > nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }

    header > .container > nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }

    header > .container > nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }

    header > .container > nav > ul {
        background-color: rgba(0, 0, 0, .8);
        bottom: 100%;
        flex-direction: column;
        float: none;
        height: auto;
        left: 0;
        justify-content: space-evenly;
        overflow: hidden;
        position: fixed;
        right: 0;
        top: 100px;
        transition: all .5s ease-in-out;
        width: 100%;
        z-index: 9;
    }

    header > .container > nav > ul > li {
        width: 100%;
    }

    header > .container > nav > ul > li > a {
        font-size: 1.5em;
    }

    #inicio {
        height: auto;
    }

    #inicio .container {
        grid-template-columns: 1fr;
    }

    #inicio .container .inicio-text a {
        display: block;
        width: 100%;
    }

    .icon-burger {
        display: block;
    }

    .line {
    }

    .servicios__grid_a {
        grid-template-columns: 1fr;
    }

    .servicios__grid_a .card {
        justify-self: center;
        margin-bottom: 20px;
        max-width: 300px;
        width: 100%;
    }

    .servicios__grid_b {
        grid-template-columns: 1fr;
    }

    .servicios__img {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        margin-bottom: 0;
    }

    .servicios__text {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0;
        height: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .servicios__grid_b {
        grid-template-columns: 1fr;
    }

    .servicios__img {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        justify-self: center;
        margin-bottom: 0;
    }

    .servicios__text {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0;
        height: auto;
        justify-self: center;
        max-width: 550px;
    }
}

@media screen and (min-width: 992px) {
    #inicio::after,
    #inicio::before {
        bottom: -50px;
    }
}