.container {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

/*
    =========================================
    Sistema de columnas-grillas o grid system
    =========================================
*/
[class*="col-"] {
    float: left;
    padding: 10px;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.66666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.66666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333%;
}

.col-11 {
    width: 91.66666666%;
}

.col-12 {
    width: 100%;
}

.flex {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.grid {
    display: grid;
}

.row {
    clear: both;
    display: table;
    height: auto;
    margin: auto;
    position: relative;
    width: 100%;
}