@import url('variables.css');
@import url('html.css');
@import url('classes.css');
@import url('keyframes.css');
@import url('media-queries.css');

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}
*::before,
*::after {
    box-sizing: border-box;
}