.error__container a {
	display: block;
	margin: 0 auto 20px;
	max-width: 416px;
}

.error__container a img {
	height: auto;
	max-width: 416px;
}

.error__container h1 {
	font-weight: 700;
	margin-bottom: 10px;
}

.error__container h2 {
	margin-bottom: 20px;
}

.error__container p {
	line-height: 1.7;
	margin-bottom: 20px;
}

